<h1>Kitchen Sink Demo Page</h1>
<% if @from_create %>
  <p style="color: white; background-color: red;">Form Submitted</p>
<% end %>
<%= form_for @kitchen_sink, builder: EtGdsDesignSystem.form_builder_class do |f| %>

  <h2>Error Summary</h2>
  <div>
    <%= f.govuk_error_summary 'Test error summary' %>
  </div>


  <h2>Text Field</h2>
  <div>
    <% if show_hint? %>
      <%= f.text_field :text_field_value, label: {text: 'Text field label'}, hint: 'Text field hint' %>
    <% else %>
      <%= f.text_field :text_field_value, label: {text: 'Text field label'} %>

    <% end %>
  </div>

  <h2>Text Area</h2>
  <div>
    <% if show_hint? %>
      <%= f.text_area :text_area_value, label: { text: 'Text area label'}, hint: 'Text area hint' %>
    <% else %>
      <%= f.text_area :text_area_value, label: { text: 'Text area label'} %>
    <% end %>
  </div>


  <h2>Date field</h2>

  <div>
    <% if show_hint? %>
      <%= f.date_field :date_field_value, maxlength_enabled: true, label: { text: 'Date field label'}, hint: 'Date field hint' %>
    <% else %>
      <%= f.date_field :date_field_value, maxlength_enabled: true, label: { text: 'Date field label'} %>
    <% end %>
  </div>

  <h2>Radios Button</h2>

  <div>
    <% if show_hint? %>
      <%= f.collection_radio_buttons :collection_radio_buttons_value, [['post', 'Post'], ['email', 'Email']], :first, :last, label: { text: 'Collection radio buttons label'}, hint: 'Collection radio buttons hint' %>
    <% else %>
      <%= f.collection_radio_buttons :collection_radio_buttons_value, [['post', 'Post'], ['email', 'Email']], :first, :last, label: { text: 'Collection radio buttons label'} %>
    <% end %>
  </div>


  <h2>Phone Field</h2>
  <div>
    <% if show_hint? %>
      <%= f.phone_field :phone_field_value, label: {text: 'Phone field label'}, hint: 'Phone field hint' %>
    <% else %>
      <%= f.phone_field :phone_field_value, label: {text: 'Phone field label'} %>
    <% end %>
  </div>

  <h2>Email Field</h2>
  <div>
    <% if show_hint? %>
      <%= f.email_field :email_field_value, label: {text: 'Email field label'}, hint: 'Email field hint' %>
    <% else %>
      <%= f.email_field :email_field_value, label: {text: 'Email field label'} %>
    <% end %>
  </div>

  <h2>Check Boxes</h2>

  <div>
    <% if show_hint? %>
      <%= f.collection_check_boxes :collection_check_boxes_value, [['post', 'Post'], ['email', 'Email']], :first, :last, label: { text: 'Collection check boxes label'}, hint: 'Collection check boxes hint' %>
    <% else %>
      <%= f.collection_check_boxes :collection_check_boxes_value, [['post', 'Post'], ['email', 'Email']], :first, :last, label: { text: 'Collection check boxes label'} %>
    <% end %>
  </div>

  <h2>Fieldset</h2>
  <div>
    <%= f.fieldset label: {text: 'Fieldset label'} do %>
      <p>Fieldset inner content</p>
    <% end %>
  </div>

  <h2>File Field</h2>
  <div>
    <% if show_hint? %>
      <%= f.file_field :file_field_value, label: {text: 'File field label'}, hint: 'File field hint' %>
    <% else %>
      <%= f.file_field :file_field_value, label: {text: 'File field label'} %>

    <% end %>
  </div>

  <h2>File Dropzone Field</h2>
  <div>
    <% if show_hint? %>
      <%= f.file_dropzone_field :file_dropzone_field_value, label: {text: 'File dropzone field label'}, accepted_files: ['.txt', '.rb'], upload_button: 'Upload', remove_file_button: true, hint: 'File dropzone field hint' %>
    <% else %>
      <%= f.file_dropzone_field :file_dropzone_field_value, label: {text: 'File dropzone field label'}, accepted_files: ['.txt', '.rb'], upload_button: 'Upload', remove_file_button: true %>

    <% end %>
  </div>

  <h2>Collection Select</h2>
  <div>
    <% if show_hint? %>
      <%= f.collection_select :collection_select_value, [['post', 'Post'], ['email', 'Email']], :first, :last, label: {text: 'Collection select label'}, hint: 'Collection select hint' %>
    <% else %>
      <%= f.collection_select :collection_select_value, [['post', 'Post'], ['email', 'Email']], :first, :last, label: {text: 'Collection select label'} %>

    <% end %>
  </div>

  <h2>Submit Button</h2>
    <%= f.submit 'Submit' %>

<% end %>

<h2>Accordion</h2>
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Writing well for the web
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'>This is the content for Writing well for the web.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Writing well for specialists
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>This is the content for Writing well for specialists.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Know your audience
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
      <p class='govuk-body'>This is the content for Know your audience.</p>
    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          How people read
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class='govuk-body'>This is the content for How people read.</p>
    </div>
  </div>
</div>

<div><%= link_to 'Render with errors', new_kitchen_sink_path(render_with_errors: true, render_with_hint: params[:render_with_hint]) %></div>
<div><%= link_to 'Render without errors', new_kitchen_sink_path(render_with_errors: false, render_with_hint: params[:render_with_hint]) %></div>
<div><%= link_to 'Render with hint', new_kitchen_sink_path(render_with_hint: true, render_with_errors: params[:render_with_errors]) %></div>
<div><%= link_to 'Render without hint', new_kitchen_sink_path(render_with_hint: false, render_with_errors: params[:render_with_errors]) %></div>
